$bg-color: blue;
$border-color: red;

.pippo {
  font-family: helvetica, arial, sans-serif;
  padding: 2em;
  border: 5px solid $border-color;
  font-size: 1.2em;

  p {
    background-color: $bg-color;
  }
}
